.create-form-by-form {
    background: #f8f8f8;
    .title{
        text-align: center;
    }
    .el-dialog__body{
        padding-top: 0;
    }
    .el-select {
        width: 100%;
    }
    .component-plus {
        position: relative;
        height: 50px;
        line-height: 50px;
        .luyou-icon {
            margin-left: 40px;
            border-color: #9e9e9e;
            opacity: .3;
            transition: all .2s;
            padding-left: 5px;
            &:hover {
                opacity: 1;
                border-color: #7dbdff;
            }
        }
    }
    .ncform{
        height: 500px;
        overflow-y: scroll;
        margin-bottom: 20px;
        .__array-table-form-item .table td:last-child, .__array-table-form-item .table th:last-child{
            min-width: 155px;
        }
    }
    .bottom-action{
        background: #fff;
        height: 80px;
        padding: 20px 0;
        margin: 0;
        text-align: center;
        .el-button{
            margin-right: 10px;
            margin-left: 0;
        }
    }
    .component-type-menu,.component-remove-menu {
        margin-left: -12px;
        margin-right: -12px;
        a {
            padding: 4px 12px;
            font-size: 14px;
            display: block;
            width: 130px;
            text-align: left;
            border-bottom: 1px dashed #ecf5ff;
            color: #606266;
            &:last-child{
                border-bottom: none;
            }
            .luyou-icon {
                font-size: 18px;
                vertical-align: middle;
                margin-right: 4px;
            }
        }
        a:hover {
            background-color: #ecf5ff;
            color: #66b1ff;
        }
    }
}


