<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ncform components document</title>
  <link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="assets/index.css">

  <script type="text/javascript" src="assets/vue.min.js"></script>

  <style>
    .doc {
      height: 100%;
      min-height: 300px;
    }
  </style>
</head>

<body>

  <div class="doc">
    <h2 style="margin-left: 25px; color: #5A5E66">
      ncform standard components

      <div class="el-radio-group" style="float: right;">
        <label class="el-radio-button">
          <input type="radio" class="el-radio-button__orig-radio" value="en" v-model="lang">
          <span class="el-radio-button__inner">English</span>
        </label>
        <label class="el-radio-button" value="cn">
          <input type="radio" class="el-radio-button__orig-radio" value="cn" v-model="lang">
          <span class="el-radio-button__inner">中文</span>
        </label>
      </div>

    </h2>

    <div style="display: flex; height: calc(100vh - 80px); overflow: hidden;" v-cloak>
      <div style="flex:1; overflow: auto">
        <ul class="el-menu el-menu-vertical-demo">
          <li class="el-submenu is-opened">
            <div class="el-submenu__title" style="padding-left: 20px;"><i
                class="el-icon-star-on"></i><span>Controls</span></div>
            <ul class="el-menu">
              <li v-for="item in displayControls" class="el-menu-item" :class="{'is-active': currentUrl === item.url}"
                @click="goto(item.url)">
                {{item.name}}
              </li>
              <!-- Don't touch me - controls -->
            </ul>
          </li>
          <li class="el-submenu is-opened">
            <div class="el-submenu__title" style="padding-left: 20px;"><i
                class="el-icon-star-on"></i><span>Layouts</span>
            </div>
            <ul class="el-menu">
              <li v-for="item in displayLayouts" class="el-menu-item" :class="{'is-active': currentUrl === item.url}"
                @click="goto(item.url)">
                {{item.name}}
              </li>
              <!-- Don't touch me - layouts -->
            </ul>
          </li>
        </ul>
      </div>
      <div style="flex:5">
        <iframe :src="currentUrl" style="width: 100%; border: none; height: 100%"></iframe>
      </div>
    </div>
  </div>



  <script type="text/javascript">
    new Vue({
      el: '.doc',
      created() {
        if (location.search.indexOf('lang=cn') >= 0) {
          this.$data.lang = 'cn';
        }
      },
      data: {
        controls: [
          { "url": "control-comps/input.html", "name": "input" },
          { "url": "control-comps/input-number.html", "name": "input-number" },
          { "url": "control-comps/textarea.html", "name": "textarea" },
          { "url": "control-comps/select.html", "name": "select" },
          { "url": "control-comps/color-picker.html", "name": "color-picker" },
          { "url": "control-comps/date-picker.html", "name": "date-picker" },
          { "url": "control-comps/slider.html", "name": "slider" },
          { "url": "control-comps/rate.html", "name": "rate" },
          { "url": "control-comps/radio.html", "name": "radio" },
          { "url": "control-comps/checkbox.html", "name": "checkbox" },
          { "url": "control-comps/upload.html", "name": "upload" },
          { "url": "control-comps/label.html", "name": "label" }],
        layouts: [
          { "url": "layout-comps/object.html", "name": "object" },
          { "url": "layout-comps/array.html", "name": "array" },
          { "url": "layout-comps/array-table.html", "name": "array-table" },
          { "url": "layout-comps/array-tabs.html", "name": "array-tabs" }
        ],
        currentUrl: '',
        lang: 'en'
      },
      computed: {
        displayControls() {
          return this.$data.controls.map(item => ({
            url: item.url + '?lang=' + this.$data.lang,
            name: item.name
          }))
        },
        displayLayouts() {
          return this.$data.layouts.map(item => ({
            url: item.url + '?lang=' + this.$data.lang,
            name: item.name
          }))
        }
      },
      methods: {
        goto(url) {
          this.$data.currentUrl = url;
        }
      },
      watch: {
        'lang': function (newVal) {
          let url = location.pathname + '?lang=' + this.$data.lang;
          window.history.replaceState("", document.title, url);
          this.$data.currentUrl = this.$data.currentUrl.replace(/lang=.*/, 'lang=' + this.$data.lang);
        }
      }
    });
  </script>

</body>

</html>
